<a href="https://colab.research.google.com/github/taejunglee/pythonworkplace/blob/master/%EB%82%9C%EC%88%98%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import os
os.chdir('/content/gdrive/MyDrive/Colab Notebooks')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
gender = pd.DataFrame(np.random.choice(2,3000, p=[0.51, 0.49]))
age = pd.DataFrame(np.random.choice(5,3000, p=[0.1753, 0.1941, 0.1871, 0.2079, 0.2356]))
job = pd.DataFrame(np.random.choice(11,3000, p=[0.0230, 0.06, 0.2306, 0.1525, 0.2531, 0.0920, 0.07, 0.0340, 0.0546, 0.0076, 0.0226]))
family_size = pd.DataFrame(np.random.choice(4, 3000, p=[0.452, 0.208, 0.308, 0.032]))
child_num = pd.DataFrame(np.random.choice(4, 3000, p=[0.422, 0.217, 0.333, 0.028]))
knowledge = pd.DataFrame(np.random.choice(4, 3000, p=[0.537, 0.146, 0.183, 0.134]))
exp = pd.DataFrame(np.random.choice(4, 3000, p=[0.189, 0.15, 0.457, 0.204]))
risk = pd.DataFrame(np.random.choice(4,3000, p=[0.425, 0.432, 0.099, 0.044]))
term = pd.DataFrame(np.random.choice(4,3000, p=[0.136, 0.258, 0.360, 0.246]))

**표준정규분포 난수생성**

In [ ]:
s1 = pd.DataFrame(0.821 * np.random.randn(3000) + 2.645)
s2 = pd.DataFrame(0.617 * np.random.randn(3000) + 1.542)
s3 = pd.DataFrame(0.800 * np.random.randn(3000) + 1.400)
s4 = pd.DataFrame(0.962 * np.random.randn(3000) + 2.275)
s5 = pd.DataFrame(0.588 * np.random.randn(3000) + 1.408)

In [ ]:
s1 = pd.DataFrame(0.821 * np.random.rand(3000) + 2.645)

**정규분포 난수생성**

In [ ]:
s1 = pd.DataFrame(np.random.normal(loc=2.645, scale=0.821, size=3000))
s2 = pd.DataFrame(np.random.normal(loc=1.542, scale=0.617, size=3000))
s3 = pd.DataFrame(np.random.normal(loc=1.400, scale=0.800, size=3000))
s4 = pd.DataFrame(np.random.normal(loc=2.275, scale=0.962, size=3000))
s5 = pd.DataFrame(np.random.normal(loc=1.408, scale=0.588, size=3000))

# 평균, 표준편차, 생성개수

In [ ]:
import scipy as sp, scipy.stats

s1 =sp.stats.norm(loc=2.645,scale=0.821).rvs(size=3000) # 평균 1000, 표준편차 20, 1000개 난수 생성

In [ ]:
s11 = pd.DataFrame(sp.stats.norm(loc=2.645,scale=0.821).rvs(size=3000))

In [ ]:
s21 = pd.DataFrame(sp.stats.norm(loc=2.645,scale=0.821).rvs(size=3000))

In [ ]:
s11.describe()

                 0
count  3000.000000
mean      2.640269
std       0.816751
min      -0.109345
25%       2.090866
50%       2.636146
75%       3.183881
max       5.376338

In [ ]:
s1.describe()

                 0
count  3000.000000
mean      2.633709
std       0.828172
min       0.000187
25%       2.081877
50%       2.644407
75%       3.187329
max       5.127329

In [ ]:
s1.describe()

                 0
count  3000.000000
mean      2.654837
std       0.824375
min      -0.666504
25%       2.092966
50%       2.651587
75%       3.215357
max       6.083025

In [ ]:
s1.describe()

                 0
count  3000.000000
mean      3.049583
std       0.233634
min       2.645010
25%       2.850201
50%       3.039065
75%       3.250478
max       3.465624

In [ ]:
s1_t = pd.DataFrame(np.random.randint(4, size=3000))
s2_t = pd.DataFrame(np.random.randint(3, size=3000))
s3_t = pd.DataFrame(np.random.randint(2, size=3000))
s4_t = pd.DataFrame(np.random.randint(2, size=3000))
s5_t = pd.DataFrame(np.random.randint(3, size=3000))

In [ ]:
data = pd.concat([gender,age,job,family_size,child_num,knowledge,risk,term,s1,s2,s3,s4,s5],axis=1)
data.columns = ["gender","age","job","family_size","child_num","knowledge","risk","term","s1","s2","s3","s4","s5"]

In [ ]:
test_data = pd.concat([gender,age,job,family_size,child_num,knowledge,risk,term,s1_t,s2_t,s3_t,s4_t,s5_t],axis=1)
test_data.columns = ["gender","age","job","family_size","child_num","knowledge","risk","term","s1","s2","s3","s4","s5"]

In [ ]:
test_data.to_csv('test1.csv', index=False)