In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pykrx import stock

import time
from functools import wraps
from xml.etree import ElementTree

import pandas as pd
import numpy as np
from datetime import datetime, date
from pykrx import stock

import FinanceDataReader as fdr

In [2]:
def myplot(df, nrows=5,  kind='line', title='제목', labels=False):  
    if nrows > 0:
        print(df.head(nrows))
    else:
        print(df.tail(nrows))
    
    if labels:
        cols = df.columns
        for i, col in enumerate(cols):
            df[col].plot(label=labels[i], kind=kind)
    else :
        df.plot(kind=kind)
    
    plt.title(title)
    plt.legend()
    plt.show()

In [3]:
def myplotmix(df1, df2, y1='ylabel-1', y2='ylabel-2', kind1='bar', kind2='line', title='제목',  nrows1=5, nrows2=5,  labels=False):  
    ytl=['b', 'g', 'r', 'c', 'm', 'y', 'k', 'w']

    if nrows1 > 0:
        print(df1.head(nrows1))
    elif nrows1 < 0:
        print(df1.tail(nrows1))
    if nrows2 > 0:
        print(df2.head(nrows2))
    else:
        print(df2.tail(nrows2))
    fig, ax1 = plt.subplots(figsize=(12, 4))
    ax2=ax1.twinx()
    if kind1 == 'line':
        df1.plot(kind=kind1, ax=ax2, marker='d',color='#e35f62')  #color='y', 
        df2.plot(kind=kind2, ax=ax1)  #bar
    else:
        df1.plot(kind=kind1, ax=ax1,color='#bcbd22')
        df2.plot(kind=kind2, ax=ax2) #color='y',
        
    # df['date'] = df['date'].dt.strftime('%Y-%m-%d')
    # ax1.set_xticklabels(df['date'])    
    ax1.yaxis.tick_right()
    ax2.yaxis.tick_left()
    ax1.set_ylabel(y1) #, color='red')
    ax2.set_ylabel(y2) #, color='red')
    ax1.legend(loc=1)
    ax2.legend(loc=2)
    plt.title(title)
    ax1.grid(False)
    ax2.grid(False)
    plt.show()

In [4]:
def my_ticker(names):    
    df_code = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
    df_code.종목코드 = df_code.종목코드.map('{:06d}'.format)

    df_code = df_code[['회사명', '종목코드']]
    code_list = []
    for name in names:
        code = df_code.query("회사명=='{}'".format(name))['종목코드'].to_string(index=False)
        code_list.append(code)
    return code_list

stocks = my_ticker(['삼성전자', 'SK하이닉스', '현대자동차', 'NAVER'])
print(stocks)

['005930', '000660', '005380', '035420']

In [5]:
def my_allticker():    
    df_allcode = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
    df_allcode.종목코드 = df_allcode.종목코드.map('{:06d}'.format)

    df_allcode = df_allcode[['회사명', '종목코드']]
    return df_allcode
allstocks = my_allticker()
allstocks.head()

         회사명    종목코드
0      DRB동일  004840
1        DSR  155660
2      GS글로벌  001250
3  HDC현대산업개발  294870
4        KEC  092220

In [6]:
def my_krx(start, end, code):
    error_list = []
    failed = 0
    success = 0
    name = allstocks.query("종목코드=='{}'".format(code))['회사명'].to_string(index=False)
    try:
        df = stock.get_market_ohlcv_by_date(start, end, code)
        df.reset_index(inplace=True)
        df.insert(loc=1, column='종목코드', value=code)
        df.insert(loc=2, column='종목명', value=name)
        df.columns = ['rdate', 'code', 'name', 'open', 'high', 'low', 'close','volume']
        success += 1
    except ElementTree.ParseError as e:
        error_list.append(e)
        drop_rows(database, table, code)  # 특정 종목코드에서 에러 발생 시 해당 종목코드에 대한 데이터 삭제 후 다음 종목코드로 넘어감
        failed += 1
    except Exception as e:
        print('Error occurred : ', e)
        failed += 1
#     print(f'success:{success}, failed:{failed}')
    return df

In [7]:
"""
drop table all_stock;
create Table all_stock (
rdate date,
code char(6),
name varchar2(50), 
open number, 
high number,  
low number,  
close number, 
volume number
);
"""

'\ndrop table all_stock;\ncreate Table all_stock (\nrdate date,\ncode char(6),\nname varchar2(50), \nopen number, \nhigh number,  \nlow number,  \nclose number, \nvolume number\n);\n'

In [2]:
import sqlalchemy as sa
import cx_Oracle
df = pd.DataFrame()
#DB CONN
oracle_db = sa.create_engine('oracle://sys:1160@localhost:1521/xe')
conn = cx_Oracle.connect("sys","1160","XE",cx_Oracle.SYSDBA)
for code in allstocks['종목코드']:
    df1 = my_krx('20181203', '20201231', code)
    df1.to_sql('all_stock', conn, if_exists='append', index=False)  
conn.close()

In [15]:
oracle_db = sa.create_engine('oracle://sys:1160@localhost:1521/xe')
conn = cx_Oracle.connect("sys","1160","XE",cx_Oracle.SYSDBA)

In [21]:
# for code in allstocks['종목코드']:
#     df1 = my_krx('20181203', '20201231', code)
#     df1.to_sql('all_stock', conn, if_exists='append', index=False)

In [19]:
"""
drop table all_stock;
create Table all_stock (
rdate date,
code char(6),
name varchar2(50), 뇬
open number, 
high number,  
low number,  
close number, 
volume number
);
"""

'\ndrop table all_stock;\ncreate Table all_stock (\nrdate date,\ncode char(6),\nname varchar2(50), \nopen number, \nhigh number,  \nlow number,  \nclose number, \nvolume number\n);\n'

In [3]:
curs = conn.cursor()
sql = "select * from all_stock where code=%s"
curs.execute(sql, ('294870',))

In [ ]:
  
sql = "select * from all_stock where code=%s"
 curs.execute(sql, ('294870',))
--------  
for i in cursor:
 print(i)
  --------  
  rows = curs.fetchall()
  for i in rows:  
    print(i)

In [1]:

# df = pd.DataFrame()
# #DB CONN --- 루프 밖에서 한번만 연결 **** 주의주의주의
# oracle_db = sa.create_engine('oracle://sys:1160@localhost:1521/xe')
# conn = cx_Oracle.connect("sys","1160","XE",cx_Oracle.SYSDBA)
# for code in allstocks['종목코드']:
#     df = my_krx('20181203', '20201231', code)
#     df.to_sql('all_stock', conn, if_exists='append', index=False)  
# conn.close()

In [25]:
oracle_engine = sa.create_engine('oracle://sys:1160@localhost:1521/xe')
conn = cx_Oracle.connect("sys","1160","XE",cx_Oracle.SYSDBA)
odf = pd.read_sql("select * from all_stock where code='294870'", conn)
odf.head()

Empty DataFrame
Columns: [SEQ, RDATE, CODE, NAME, OPEN, HIGH, LOW, CLOSE, VOLUME]
Index: []